{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
{% comment %}
<div class="small--hide">
{% section 'Image_with_textbox' %}
</div>
{% endcomment %}
