<div class="page-width">
  {% unless page.handle contains 'shop-our-instagram' %}
  <div class="grid">
    
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
    {% endunless %}
      <div class="section-header text-center {% if page.handle == 'wholesale' %} wholesale-wdth{% endif %}">
        {% if page.handle == 'brand-ambassador' or page.handle == 'wholesale' %}
        <h1 class="brand-title">{{ page.title }}</h1>
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %}
      </div>
        {% if page.title == 'Wholesale' %}
          <div class="rte wholesale-wdth">
            {{ page.content }}
          </div>
        {% else %}
          <div class="rte">
            {{ page.content }}
          </div>
        {% endif %}
   {% unless page.handle contains 'shop-our-instagram' %} </div>
  </div> {% endunless %}
</div>
<style>
  .brand-title{font-size:24px;color: #4A4A4A;}
  .wholesale-wdth p {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 36px;
}
   .wholesale-wdth .brand-title {
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
    padding: 0 36px;
}
  .section-header.wholesale-wdth{margin-bottom:35px;}
   @media only screen and (max-width: 479px){
      .wholesale-wdth p {padding: 0 20px;}
     .wholesale-wdth .brand-title {padding: 0 20px;}
   }
</style>
