{% section 'slideshownew' %}

 <!-- button start -->
        
          <div class="featured-products-area mob">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="text-align:center">Fusion Leggings</h2>
                    <center><button type="button" class="btn btn-default1">Discover Collection</button></center>
                    </div>
                </div>
            </div>
          </div>    
        <!-- button end -->
<div class="big">
         
  {% section 'feature-row' %}  

   {% section 'feature-row1' %}

  {% section 'feature-row2' %} </div>
<!-- mobile design start   -->
  
   <div class="container mob">
 <div class="row" style="margin-top:10px">
 
  <div class="col-xs-12"><img src="https://cdn.shopify.com/s/files/1/1605/3707/files/m1.jpg?771547965592566232"></div>
</div>
  </div>
   
        <div class="container mob">
 <div class="row">
  <div class="col-xs-12"><img src="https://cdn.shopify.com/s/files/1/1605/3707/files/m2.jpg?5017315206813763004"></div>
  
</div>
  </div>
   
        <div class="container mob">
 <div class="row">
  
  <div class="col-xs-12"><img src="https://cdn.shopify.com/s/files/1/1605/3707/files/m3.jpg?10351352412673857155"></div>
</div>
  </div>
  
  <!-- mobile design end  -->
  

   <div class="advantage3-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bor12">
                        
                            
                                <h3><i class="flaticon-truck"></i>&nbsp;&nbsp; Eco-Friendly Fabrics</h3>
                              
                            
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bor12">
                      
                           
                              <h3><i class="flaticon-headphones"></i>&nbsp;&nbsp; Ethically Sourced</h3>
                           
                      
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bor12">
                      
                            
                             <h3><i class="flaticon-reload"></i>&nbsp;&nbsp; Easy Exchanges</h3>
                             
                        
                    </div>
                </div>
            </div>
        </div>

 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <center><img src="https://cdn.shopify.com/s/files/1/1605/3707/files/logo1.png?3029252112193769213" >
                      </center>
                    </div>
   
   {% section 'logo-bar' %}


{% section 'quotes' %} 

<!-- threeimage start -->
         <div class="featured-products-area mob">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mob">
                    <img src="https://cdn.shopify.com/s/files/1/1605/3707/files/three.jpg?14313480808511242290">
                    </div>
                </div>
            </div>
          </div>   
           <!-- threeimage start  --> 

{% section 'collection-listnew' %} 

{% section 'rich-text' %} 

{% section 'Image_with_textbox' %} 
                  
                 



          



