<section id="gg-hero-banner">
  <div class="gg-hero-content">
    <h1 class="gg-hero-title">Gift Guide</h1>
    <div class="gg-hero-subtitle">Win the Holidays, Give the gift that empower</div>    
  </div>
</section>

<section class="gg-styles-container">
  <div class="gg-style" data-gg-personas="woman">
    <div class="page-width">
      <div class="gg-style-header text-center">
        Make it Personal
        <span>What's his style?</span>
      </div>
      <div class="gg-style-grid grid">
        
        <div class="active gg-style-item grid__item small--one-half medium-up--one-quarter">
          <div class="style-item">
            <div class="style_link col_hover style_image-container">
              <div id="" class="style_image-wrapper imge__height">                 
                <img class="style_image" src="//cdn.shopify.com/s/files/1/2514/8202/products/salutations-bra-good-front_5ee027dd-dcd3-4746-9aed-3a4e5279fce8_300x300.jpg?v=1511079103" data-widths="" data-aspectratio="0.8" data-sizes="auto" alt="Salutations Bra" data-srcset="" sizes="200px" srcset="">
              </div>
              <div class="pro_info text-center">
                <div class="h4 style_title">All Black</div>
                <p>Will stop wearing black when they make a darker Color</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="gg-style-item grid__item small--one-half medium-up--one-quarter">
          <div class="style-item">
            <div class="style_link col_hover style_image-container">
              <div id="" class="style_image-wrapper imge__height">                 
                <img class="style_image" src="//cdn.shopify.com/s/files/1/2514/8202/products/salutations-bra-good-front_5ee027dd-dcd3-4746-9aed-3a4e5279fce8_300x300.jpg?v=1511079103" data-widths="" data-aspectratio="0.8" data-sizes="auto" alt="Salutations Bra" data-srcset="" sizes="200px" srcset="">
              </div>
              <div class="pro_info text-center">
                <div class="h4 style_title">All Black</div>
                <p>Will stop wearing black when they make a darker Color</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="gg-style-item grid__item small--one-half medium-up--one-quarter">
          <div class="style-item">
            <div class="style_link col_hover style_image-container">
              <div id="" class="style_image-wrapper imge__height">                 
                <img class="style_image" src="//cdn.shopify.com/s/files/1/2514/8202/products/salutations-bra-good-front_5ee027dd-dcd3-4746-9aed-3a4e5279fce8_300x300.jpg?v=1511079103" data-widths="" data-aspectratio="0.8" data-sizes="auto" alt="Salutations Bra" data-srcset="" sizes="200px" srcset="">
              </div>
              <div class="pro_info text-center">
                <div class="h4 style_title">All Black</div>
                <p>Will stop wearing black when they make a darker Color</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="gg-style-item grid__item small--one-half medium-up--one-quarter">
          <div class="style-item">
            <div class="style_link col_hover style_image-container">
              <div id="" class="style_image-wrapper imge__height">                 
                <img class="style_image" src="//cdn.shopify.com/s/files/1/2514/8202/products/salutations-bra-good-front_5ee027dd-dcd3-4746-9aed-3a4e5279fce8_300x300.jpg?v=1511079103" data-widths="" data-aspectratio="0.8" data-sizes="auto" alt="Salutations Bra" data-srcset="" sizes="200px" srcset="">
              </div>
              <div class="pro_info text-center">
                <div class="h4 style_title">All Black</div>
                <p>Will stop wearing black when they make a darker Color</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</section>

<section id="" class="gg-style-collections-container">
  <div class="page-width">
    
    <div  id="gg-collections-banner">
      <div class="gg-collections-content">
        <div class="gg-collections-subtitle">It’s not just a colour, it’s an attitude.</div>
        <h1 class="gg-collections-title">Pretty In Pink</h1>   
      </div>
    </div>
    <div class="gg-collections-product">
      <div class="grid gg-single-product">
        <div class="grid__item small--one-half medium-up--one-half">
        	<img class="style_image" src="//cdn.shopify.com/s/files/1/2514/8202/products/salutations-bra-good-front_5ee027dd-dcd3-4746-9aed-3a4e5279fce8_large.jpg?v=1511079103" data-widths="" data-aspectratio="0.8" data-sizes="auto" alt="Salutations Bra" data-srcset="" sizes="200px" srcset="">
        </div>
        <div class="grid__item small--one-half medium-up--one-half">
          <div class="gg-single-product-info text-center">
            <div class="gg-single-product-title">Salutations Bra</div>
            <div class="gg-single-product-money">$42.99</div>
            <div class="gg-single-product-img-carousel">
              <!--      Image Carousel        -->
              Images
            </div>
            <div class="add-to-cart-form">
            	Form
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>



<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center {% if page.handle == 'wholesale' %} wholesale-wdth{% endif %}">
        {% if page.handle == 'brand-ambassador' or page.handle == 'wholesale' %}
        <h1 class="brand-title">{{ page.title }}</h1>
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %}
      </div>
        {% if page.title == 'Wholesale' %}
          <div class="rte wholesale-wdth">
            {{ page.content }}
          </div>
        {% else %}
          <div class="rte">
            {{ page.content }}
          </div>
        {% endif %}
    </div>
  </div>
</div>
<style>
  .brand-title{font-size:24px;color: #4A4A4A;}
  .wholesale-wdth p {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 36px;
}
   .wholesale-wdth .brand-title {
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
    padding: 0 36px;
}
  .section-header.wholesale-wdth{margin-bottom:35px;}
   @media only screen and (max-width: 479px){
      .wholesale-wdth p {padding: 0 20px;}
     .wholesale-wdth .brand-title {padding: 0 20px;}
   }
</style>
